.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
main
main.exe
output/
manifest/output/
temp/
manifest/config/config.yaml
internal/packed/data.go
oh-my-duo-bin
oh-my-duo-bin.exe
oh-my-duo-linux-amd64
oh-my-duo-windows-amd64.exe
