.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
bin/
**/.DS_Store
main
output/
manifest/output/
temp/
manifest/config/config.yaml
config.yaml
internal/packed/data.go
oh-my-duo-bin
